.form{
  /* max-width: 350px; */
 max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px auto;
}
input{
    
    height: 40px;
    border-radius: 5px;
    
}

button{
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  
}
